{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            <div class="markdown">
              <p>
                 Hi! You've reached the personal website of <b>Ben Woodward</b>. 👋
              </p>
              <p>
              I was born and raised in Alaska and currently reside in Seattle, Washington, by way of a small town in Idaho and a lot of international travel. I enjoy the outdoors, photography, reading, rock climbing, and writing software.
              </p>


              <p>
                If you'd like to get in touch, feel free to send mail to <a href="mailto:ben@bdw.to">ben@bdw.to</a>.
                <br>
              </p>

            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}

